$logoColor: #2e689f;
$linkColor: #348adb;
$menuColor: #628fb9;
$subColor: #e8e8e8;
$accentColor: #ffc800;

$backgroundColor: #fff;
$subBackgroundColor: #02090f;
$basicFontColor: #000;
$subFontColor: #7d7d7d;

@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat|Noto+Sans+JP");

$montserrat: "Montserrat", sans-serif;
$notoSans: "Noto Sans JP", sans-serif;
$Lora: "Lora", serif;
