@mixin navIcon($background) {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: $background;
}

.fb-icon {
  @include navIcon(#3b5998);
}

.twitter-icon {
  @include navIcon(#1da1f2);
}

.icon-text {
  font-family: $montserrat;
  font-weight: 800;
  padding-top: 6px;
  color: $backgroundColor;
}
