@import "./colors";

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  background-color: $backgroundColor;
}

.logo-icon-header {
  padding-top: 10px;
  cursor: pointer;
}

.header-menu-icon {
  cursor: pointer;
}

.header-close-icon {
  margin: 15px 5px auto auto;
  cursor: pointer;
}

.header-disclosure {
  position: fixed;
  top: 50px;
  width: 100%;
  max-width: 500px;
  margin: 0 0 auto auto;
  z-index: 5;
  background-color: $subColor;
}

.disclosure-content {
  padding: 40px 40px 0px 40px;
}

.search-area {
  margin-bottom: 40px;
}

input[type="search"] {
  width: 100%;
  height: 48px;
  border: none;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 12px 12px;
  background-image: url("../materials/search.svg");
  border-radius: 24px;
  font-family: $montserrat;
  font-size: 20px;
  padding: 12px 20px 10px 50px;
}

input[type="submit"] {
  position: absolute;
  top: 52px;
  right: 60px;
  background-repeat: no-repeat;
  background-image: url("../materials/Arrow\ \(Stroke\).svg");
  background-size: 24px 24px;
  width: 26px;
  height: 26px;
  border: none;
  margin-right: 0;
  background-color: $backgroundColor;
}

input[type="search"]::-webkit-input-placeholder {
  color: $subFontColor;
}
input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: $subFontColor;
}
input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: $subFontColor;
}
input[type="search"]:-ms-input-placeholder {
  /* interner explorer*/
  color: $subFontColor;
}

.category-area div {
  font-family: $montserrat;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 40px;
}
