@import "./colors";

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  background-color: $backgroundColor;
}

.logo-icon-header {
  padding-top: 10px;
  cursor: pointer;
}

.header-menu-icon {
  cursor: pointer;
}
